<style>
        html, body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Montserrat', sans-serif;
        }
    
        h3, p{
            margin: 0;
            padding: 0;
        }
    
        .center {
            margin: 0 auto;
            width: 90%;
        }
    
        a {
            text-decoration: none;
        }
    
        #navigation {
            height: 60px;
            background-color: #4B5362;
            position: relative;
            z-index: 1;
        }
    
        #logo {
            text-decoration: none;
            text-align: center;
            width: 80px;
            height: 30px;
            font-size: 20px;
            font-weight: bolder;
            padding: 15px 30px;
        }
    
        #logo a {
            color: azure;
        }
    
        #navigation ul {
            float: right;
            margin-top: -45px;
            padding: 0;
        }
    
        #navigation li {
            color: azure;
            float: left;
            list-style: none;
            margin-top: -15px;
            padding: 20px 10px 0 10px;
            height: 38px;
            display: inline;
        }
    
        #navigation li:hover {
            border-bottom: 1px solid azure;
        }
    
        #menuIcon {
            text-align: center;
            color: azure;
            width: 35px;
            height: 40px;
            margin: -60px 10px 0 0;
            padding: 20px 0 0 0;
            float: right;
            display: none;
        }
    
        #menuIcon:hover + ul {
            display: block;
        }

        ul li:hover {
            display: block;
        }
    
        nav a{
            color: azure;
        }
    
        .blockContent {
            width: 100vw;
            height: 100vh;
        }
        
        #performance {
            background-image: url("images/performance.jpg"), linear-gradient(rgba(10, 138, 245, 0.5),rgba(10, 138, 245, 0.8));
            background-repeat: no-repeat;
            object-fit: fill;
            background-blend-mode: overlay;
            background-color: #dfdfdf;
        }
    
        #performance article {
            width: 50%;
            padding: 5%;
            color: #4B5362;
            float: left;
        }
    
        #performance aside {
            float: right;
            padding: 160px 20px 0 0;
        }
    
        .button {
            color: #4B5362;
            width: 150px;
            height: 25px;
            background-color: none;
            border: 2px solid #4B5362;
            border-radius: 15px;
            text-align: center;
            padding-top:4px;
        }
    
        .clearFloats {
            clear: both;
        }
    
        #autopilot {
            background: linear-gradient(to bottom, #030504 0%, #4B4C4E 100%);
            margin: 0;
            padding: 0;
        }
    
        #autopilot img {
            width: 100%;
            max-width: 600px;
            height: auto;
        }
    
        .col{
            float: left;
            width: 50%;
            padding: 200px 0 0 0;
            
        }
    
        .colText {
            position: relative;
            color: azure;
            width: 40%;
            padding-left: 60px;
        }
    
        #safety {
            background-color: #E3F5FF;
        }
    
        #safety img {
            width: 100%;
            height: auto;
        }
    
        #safety section {
            width: 50%;
            height: 50%;
            padding: 120px 0 0 0;
        }
    
        #safety article {
            width: 50%;
            height: 50%;
        }
    
        #safety aside {
            width: 45%;
            margin: -400px 0 0 -250px;
            padding: 0;
            float: right;
        }
    
        th,td {
            border: 1px solid azure;
            background-color: #ccdae6;
            padding: 10px;
        }
    
        #safetyFeatures {
            clear: both;
            display: none;
            text-align: center;
        }
    
        #orderNow {
            background-image: url("images/ordernow.jpg"), linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5));
            background-repeat: no-repeat;
            object-fit: fill;
            background-blend-mode: overlay;
            margin: 0;
            padding: 0;
            text-align: center;
        }
    
        #orderBtn {
            width: 200px;
            height: 30px;
            margin-top: 200px;
            padding: 8px 0 0 0;
            font-weight: bold;
            color: azure;
            border: 3px solid azure;
            border-radius: 20px;
            display: inline-block;
        }
    
        footer {
            color: azure;
            height: 75px;
            background-color: #4B5362;
            margin: 0;
            padding: 5px 0 0 0;
            text-align:center;
        }
    
        #cybertruck {
            color:azure;
            text-decoration: none;
        }
    
        @media screen and (max-width: 600px) {
            #navigation {
                position: relative;
                z-index: 1;
            }
    
            ul {
                display: none;
                position: relative;
                margin: 60px 0 0 0;
            }
    
            ul li {
                clear: both;
                display: inline;
                position: relative;
                margin: 0 0 15px 0;
                width: 90%;
                background-color: #4B5362;
                border: none;
                top: 60px;
                right: 10px;
                text-align: center;
            }
    
            ul li:hover {
                opacity: 1;
            }
    
            #menuIcon {
                display: inline-block;
            }
    
            #menuIcon:hover + ul{
                position: absolute;
                width: 100%;
            }
    
            #performance article {
                width: 90%;
                text-align: justify;
                margin: 60px 50px 0 0;
                
            }
    
            #performance a {
                position: relative;
                top: 0px;
                padding: 0;
            }
    
        }
    
        @media screen and (max-width: 850px) {
            .col{
                clear: both;
                width: 100%;
                padding: 75px 0 0 0;
            }
        }
    
        @media screen and (max-width: 870px) {
            #safety section {
                width: 45%;
                height: auto;
                float: left;
                padding: 75px 0 0 0;
            }
    
            #safety article {
                width: 45%;
                height: auto;
                text-align: justify;
                padding: 50px 0 0 20px;
                float: left;
            }
    
            #safety aside {
                width: 100%;
                margin: 0;
                padding: 20px 0 0 0;
                clear: both;
            }
        }
    
        @media screen and (max-width: 550px) {
            #safety section {
                width: 100%;
                height: auto;
                clear: both;
                padding: 50px 0 0 0;
            }
    
            #safety article {
                width: 100%;
                height: auto;
                text-align: justify;
                padding: 0;
                clear: both;
            }
    
            #safety aside {
                display: none;
            }
    
            #safetyFeatures {
                clear: both;
                display: block;
                height: auto;
                padding: 25px 0 0 0;
            }
        }
    
    </style>