/* 
colors ->   1: #ffffe9  rgb 255, 255, 233
            2: #deb841  rgb 222, 184, 85
            3: #de9e36  rgb 222, 158, 54
            4: #bfbdc1  rgb 191, 189, 193
            5: #6d6a75  rgb 109, 106, 117
            6: #37323e  rgb 55, 50, 62

font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: Verdana, sans-serif;
*/

        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Roboto', 'Poppins', 'Montserrat', Verdana, sans-serif;
        }

/* ------------Home Page CSS----------- */
        #wrapper {
            width: 100%;
            height: 100%;
        }

        #sub-wrapper {
            height: 100vh;
            width: 100vw;
            background-image: url("images/home-bg.jpg"), linear-gradient(to top, rgba(109, 106, 117, .2),rgba(222, 158, 54, 1));
            background-repeat: no-repeat;
            background-size: cover;
            background-blend-mode: overlay;
            background-color: #6d6a75;
        }
        #home-nav-bar {
            height: 150px;
        }
        #home-logo {
            height: 50px;
            width: auto;
            margin-top: 6%;
            margin-left: 10%;
        }
        #home-nav {
            float: right;
            margin-top: 8%;
            margin-right: 10%;
            font-size: 20px;
        }
        #home-nav li {
            float:left;
            padding: 0 10px;
            list-style: none;
        }
        #home-nav a {
            color: #ffffe9;
        }
        a {
            text-decoration: none;
        }
        #phrase {
            position: absolute;
            top: 50%;
            left: 60%;
            color: #ffffe9;
            font-size: 1.8rem;
            font-weight: 400;
        }
        #network {
            position:absolute;
            top: 85%;
            left: 10%;
        }
        #network-list li {
            float: left;
            list-style: none;
            padding: 0 10px 0 0;
        }
        #network-list img {
            width: 40px;
            height: auto;
        }

/* ---------------About Page CSS-------------  */
/* -----------------Navigation--------------- */

        .center {
            margin: 0 auto;
            width: 80%;
        }
        #nav-bar {
            width: 100%;
            height: 50px;
            background-color: #6d6a75;
            line-height: 50px;
        }
        #nav img {
            height: 30px;
            width: auto;
            margin-top: 10px;
        }
        #nav ul {
            float: right;
        }
        #nav li {
            float: left;
            list-style: none;
            padding: 0 10px;
        }
        #nav a {
            color: #ffffe9;
        }
        .active {
            color: #de9e36 !important;
        }
/* ----------Subnavigation----------- */
        #sub-nav-bar {
            width: 100%;
            height: 80px;
            background-color: #deb841;
            line-height: 50px;
        }
        #sub-nav ul {
            position: absolute;
            top: 70px;
            left: 50%;
            transform: translateX(-50%)
        }
        #sub-nav li{
            float: left;
            list-style: none;
            padding: 0 50px;
        }
        #sub-nav img {
            height: 40px;
            width: auto;
        }
/* ----------Content------------- */
        .no-bg-sect {
            height: 220px;
            padding: 4% 8% 0 8%;
            color: #37323e;
        }
        .no-bg-sect h1{
            color: #de9e36;
        }
        .sect-bg {
            height: 300px;
            width: 100%;
            background-image: url(images/team.jpg), linear-gradient(rgba(55, 50, 62, .6), rgba(55, 50, 62, .6));
            background-repeat: no-repeat;
            background-blend-mode: overlay;
            background-size: cover;
            color: #ffffe9;
        }
        .cont-sect {
            padding: 8%;
        }
        .btn {
            float: right;
            margin-top: 30px;
            padding: 8px 25px;
            border-radius: 20px;
            border: none;
            background-color: #de9e36;
            color: #ffffe9;
        }
        #how {
            height: 100%;
        }
        .abt-sect {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(100px, 200px));
            justify-content: center;
            grid-gap: 20px;
            margin: 50px 0 30px 30px;
        }
        .abt-entry img {
            width: 200px;
            height: 200px;
            object-fit: cover;
        }
        .abt-entry p {
            font-size: .8rem;
            border: 1px solid #de9e36;
            text-align: center;
        }
        .miss-sect {
            display: block;
            margin-top: 3%;
            clear: both;
            background-color: #deb841;
        }
        footer {
            clear: both;
            height: 280px;
            width: 100%;
            background-color: #6d6a75;
        }
        .footer-ntw {
            height: 80px;
        }
        .footer-ntw ul {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
        .footer-ntw li {
            float: left;
            list-style: none;
            padding: 20px;
        }
        .footer-ntw img {
            width: auto;
            height: 40px;
        }
        .footer-list {
            float: left;
            width: 33%;
            height: auto;
            padding-left: 6%;
        }
        .footer-list li {
            padding: 10px 15%;
            list-style: none;
        }
        .footer-list a {
            color: #ffffe9;
        }
        .footer-msg {
            clear: both;
            height: 20px;
            width: 100%;
            margin-top: 12%;
            text-align: center;
            color: #ffffe9;
        }
/* ----------Portfolio---------- */

        .text-cont {
            height: auto;
            color: #37323e;
        }
        .text-cont h1 {
            padding-top: 80px;
            color: #de9e36;
        }
        .grid-sect {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(100px, 300px));
            justify-content: center;
            grid-gap: 20px;
            margin: 50px 0;
        }
        .grid-sect img {
            width: 300px;
            height: 300px;
            object-fit: cover;
        }
        .grid-sect p {
            text-align: center;
            border: 1px solid #de9e36;
        }
        .clear {
            clear: both;
        }
/* ----------Services---------- */

        .serv-design {
            height: 300px;
            width: 100%;
            background-image: url(images/design.jpg), linear-gradient(rgba(55, 50, 62, .6), rgba(55, 50, 62, .6));
            background-repeat: no-repeat;
            background-blend-mode: overlay;
            background-size: cover;
            background-position: center;
            color: #ffffe9;
        }
        .serv-cont-sect h1 {
            float: right;
            margin: 20% 5% 0 0;
            font-size: 35px;
        }
        .serv-develop {
            height: 300px;
            width: 100%;
            background-image: url(images/develop.jpg), linear-gradient(rgba(55, 50, 62, .6), rgba(55, 50, 62, .6));
            background-repeat: no-repeat;
            background-blend-mode: overlay;
            background-size: cover;
            background-position: center;
            color: #ffffe9;
        }
/* -----------Contact------------ */

        .halfs {
            width: 50%;
            height: calc(100vh - 50px);
            padding: 5%;
            float: left;
        }
        .half-bg img {
            width: 60px;
            height: auto;
            float: left;
            -webkit-filter: drop-shadow(1px 1px 1px #6d6a75);
            filter: drop-shadow(1px 1px 1px #6d6a75);
        }
        #dev-text {
            float: left;
            color: #ffffe9;
            padding-top: 7%;
            text-shadow: 1px 1px 1px #6d6a75;
        }
        .half-bg {
            background-image: url(images/contact-pg.jpg), linear-gradient(315deg, rgba(222, 158, 54, .9),rgba(222, 158, 54, .9));
            background-repeat: no-repeat;
            background-blend-mode: overlay;
            background-size: cover;
            background-position: center;
        }
        #contact-list {
            position: absolute;
            top: 90%;
            left: 25%;
            transform: translateX(-50%);
        }
        #contact-list li {
            list-style: none;
            float: left;
            padding: 10px;
        }
        #contact-list img {
            width: 40px;
            height: auto;
        }
        .half-form h1 {
            text-align: center;
            padding-bottom: 25px;
        }
        .half-form {
            padding: 5% 10% 0 10%;
        }
        .textbox {
            width: 100%;
            height: 25px;
            border: 1px solid #de9e36;
            border-radius: 15px;
            margin-bottom: 20px;
        }
        .msg {
            width: 100%;
            height: 100px;
            border: 1px solid #de9e36;
            border-radius: 20px;
            margin-bottom: 20px;
        }
        .half-form label {
            font-size: 12px;
            padding-left: 10px;
        }
        .half-form input {
            font-size: 1rem;
            padding-left: 10px;
        }
        textarea {
            font-size: 1rem;
            padding: 5px 12px;
        }
        .send-btn {
            width: 120px;
            height: 30px;
            font-size: 1rem;
            text-align: center;
            background-color: #de9e36;
            color: #ffffe9;
            border: none;
            border-radius: 20px;
            position: absolute;
            left: 75%;
            transform: translateX(-50%);
        }
        .half-form p {
            text-align: center;
            color: #de9e36;
            padding-bottom: 25px;
        }
/* -----------Sources------------ */

        .column {
            width: 50%;
            float: left;
            padding: 5%;
            margin-bottom: 30px;
        }
        .source-cont h1 {
            text-align: center;
            color: #de9e36;
            padding: 20px 5px;
        }
        .source-cont h3 {
            padding-bottom: 20px;
            color: #37323e;
        }
        .src {
            color: #37323e;
            padding: 5px 5px;
        }
/* -----------------Blog----------------- */

        #blog-wrapper {
            width: 100vw;
            height: 100vh;
            text-align: center;
            background-color: #de9e36;
        }
        #progressbar {
            display: inline-block;
            height: 100vh;
            margin-top: 25%;
        }
        #blog-bar {
            width: 400px;
            height: 20px;
        }
        #blog-bar .ui-progressbar-value {
        
        }
/* -------------Media Queries------------ */


@media screen and (max-width: 570px) {
    #home-logo {
        height: 25px;
        width: auto;
    }
    #home-nav {
        font-size: 14px;
    }
    #home-nav li {
        padding: 0 5px;
    }
    #nav img {
        height: 25px;
    }
    #nav li {
        font-size: 14px;
        padding: 0 10px;
    }
    #phrase {
        top: 65%;
        left: 50%;
        transform: translateX(-50%);
    }
    #network {
        display: none;
    }
}
@media screen and (max-width: 750px) {
    #phrase {
        font-size: 1rem;
        width: 50%;
    }
    .halfs {
        width: 100%;
        clear: right;
    }
    .half-bg {
        height: 100px;
        background-image: url(images/mobile-banner.jpg), linear-gradient(to top, rgba(222, 158, 54, .9),rgba(222, 158, 54, .9));
    }
    .half-form {
        height: 100%;
    }
    #contact-list {
        display: none;
    }
    .half-bg img {
       clear: both;
       position: absolute;
       top: 60px;
       left: 50%;
       transform: translateX(-50%);
    }
    #dev-text {
        clear: both;
        position: absolute;
        top: 120px;
        left: 50%;
        transform: translateX(-50%);
        padding: 0;
    }
    .send-btn {
        left: 50%;
    }
}
@media screen and (max-width: 830px) {
    #sub-nav-bar {
        display: none;
    }   
}

                
        